.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star {
    padding: 2px;

    color: #ddd;
    font-size: 50px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star-filled{
  color: #31708f
}

@media (max-width: 505px) {
  .star {
    transform: scale(0.5);
    padding : 0;
    margin-right: -15px;
  }
}