<h2> Hola {{name}} </h2>

<p> Hoy es {{ date | date:'yMMMMEEEEd' }}  </p>

<div>
  <h3> Catas Disponibles </h3>
  <div class="loading"  style="display:block; margin : 0 auto;" *ngIf="!availableCatas">
      <svg class="icon" width="100%" height="100%" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
      <g id="glass">
          <g transform="matrix(-1,0.000198027,-0.000198027,-1,239.023,232.976)">
              <path d="M191,193L48,193L83.75,40L155.25,40L191,193Z" style="fill:rgb(131,180,206);"/>
          </g>
          <g transform="matrix(-0.811212,0.000160642,-0.000176017,-0.888854,216.459,211.527)">
              <path d="M191,193L48,193L83.75,40L155.25,40L191,193Z" style="fill:rgb(100,184,231);"/>
          </g>
          <path d="M47.985,39.986L83,193.007L117,193L101,40L47.985,39.986Z" style="fill:rgb(120,173,202);"/>
          <path d="M61.483,39.986L90,175.998L116,175.998L102,39.986L61.483,39.986Z" style="fill:rgb(85,157,197);"/>
      </g>
      <g id="liquid" transform="matrix(-0.559464,0.000110789,-6.72965e-05,-0.339834,186.37,189.572)">
          <path d="M191,193L48,193L65.067,40L173.933,40L191,193Z" style="fill:rgb(255,170,0);"/>
      </g>
  </svg>
  
  </div>
  <!-- <div
      class="loading-bar"
      *ngIf="!availableCatas">
      <div
        class="loading-bar-element"
        *ngIf="progress2 != 1"></div>
  </div> -->
  <div *ngIf="availableCatas?.length === 0 && progress2 == 1" class="alert alert-info">
    <strong>Por el momento no hay catas disponibles</strong>
  </div>
  <ul class="list-group">
    <a (click)="showDetails($event)" class="list-group-item list-element-cata" *ngFor="let cata of availableCatas; let i = index">
      <h4>{{cata.name}} <span style="font-size: 0.8em; color: #7f8c8d">({{cata.kind | tequilaType:true}})</span></h4>
      <div>
        <span>{{cata.place}}</span>
        <div class="btn-group pull-right"  style="margin-top:-20px;">
          <button class="btn btn-info" (click)="enrollToCata(cata._id, i)"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;Registrarse</button>
        </div>
      </div>
    </a>
  </ul>
</div>

<div>
  <h3> Catas en las que se ha unido </h3>
  <div class="loading"  style="display:block; margin : 0 auto;" *ngIf="!registeredCatas">
      <svg class="icon" width="100%" height="100%" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <g id="glass">
            <g transform="matrix(-1,0.000198027,-0.000198027,-1,239.023,232.976)">
                <path d="M191,193L48,193L83.75,40L155.25,40L191,193Z" style="fill:rgb(131,180,206);"/>
            </g>
            <g transform="matrix(-0.811212,0.000160642,-0.000176017,-0.888854,216.459,211.527)">
                <path d="M191,193L48,193L83.75,40L155.25,40L191,193Z" style="fill:rgb(100,184,231);"/>
            </g>
            <path d="M47.985,39.986L83,193.007L117,193L101,40L47.985,39.986Z" style="fill:rgb(120,173,202);"/>
            <path d="M61.483,39.986L90,175.998L116,175.998L102,39.986L61.483,39.986Z" style="fill:rgb(85,157,197);"/>
        </g>
        <g id="liquid" transform="matrix(-0.559464,0.000110789,-6.72965e-05,-0.339834,186.37,189.572)">
            <path d="M191,193L48,193L65.067,40L173.933,40L191,193Z" style="fill:rgb(255,170,0);"/>
        </g>
      </svg>
  
  </div>
  <!-- <div
      class="loading-bar"
      *ngIf="!registeredCatas">
      <div
        class="loading-bar-element"
        *ngIf="progress != 'Finished'"></div>
  </div-->
  <div *ngIf="registeredCatas?.length === 0 && progress == 'Finished'" class="alert alert-info">
    <strong>No se encuentra registrado a ninguna cata</strong>
  </div>
  <ul class="list-group">
    <a (click)="showDetails($event)" class="list-group-item list-element-cata" *ngFor="let cata of registeredCatas">
      <h4>{{cata.name}} <span style="font-size: 0.8em; color: #7f8c8d">({{cata.kind | tequilaType:true}})</span></h4>
      <div>
        <span>{{cata.place}}</span>
        <div class="btn-group pull-right"  style="margin-top:-20px;">
          <button [disabled]="cata.status !== 2" class="btn btn-info" (click)="joinCata(cata._id, cata.kind)"><i class="glyphicon glyphicon-arrow-right"></i>&nbsp;Entrar</button>
        </div>
      </div>
    </a>
  </ul>
</div>