:host{
    display: block;
}
.super-active {
    
    background-color: #31708f;
    border-radius:3px;
    font-weight: bold;
    font-size: 1.2em;
}

.super-active > a {
    color: white !important;
}

li a {
    color : grey;
}



li a:hover{
    color : white;
    background-color: #2980b9;
    font-size: 1.1em;
}